<header class="fixed-top">
  <div class="collapse bg-blue-5" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4 text-white">
          <h4 class="text-white">About me</h4>
          <p class="lead">My career goal now is to get more experience. While I am already working in the area I want to be, at this point, I am focused to advance my career. Things that inspire me are people who achieve their dreams, I always dreaming to have a better life, for that reason I push myself forward and one by one check every single goal.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact me</h4>
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/daveg1510" class="text-white">Follow on Twitter</a></li>
            <li><a href="https://www.facebook.com/daveg1510" class="text-white">Like on Facebook</a></li>
            <li><a href="mailto:david.guardia@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-blue-5 shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;
        <strong>David Guardia</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</header>