<section class="ux-cases">
    <div class="position-relative overflow-hidden p-3 p-md-5 bg-light">
        <div class="col-md-7 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Case: UX Reputation System</h1>
            <p class="lead font-weight-normal">Investment in education has become quite a preference. However,
                investment requires being in a right place. Also, while using an app, users feel comforts and discomforts about
                few features in it. And yes, this project is about taking in the comfortable features and refining the
                features that require attention and adding new features that are missing in the existing apps. This app,
                created by the best developers, is about the Reputation system that gives the user the better idea and user
                experience. The development was done by taking in the real-life personas as test subjects that will use the app
                and
                tailored to their interest. So, the app could fit in the requirements of the common users as well.
            </p>
            <p><strong>Problem:</strong> Students and other users of the app face hard time about picking the right
                professors or school due to wrong information and reviews. Also, some features of the apps are not
                user
                friendly and uneasy to use.</p>
            <p><strong>Solution:</strong> This app was developed with the intention to give better user design and
                authenticity by using the test subjects and their inputs as the key. This makes the reputation
                system more
                reliable and easy to use.
            </p>
            <div class="small"><strong>Full Disclousure</strong>This UX project was done with a group of Graduate
                Stundents
                from NJIT from the class UX User Experience Design - IS667, year 2017. Also this UX process was
                authorized
                by the School and professor to be use as portfolio.</div>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-5 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 100%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="number-borleiplate my-3 py-3 bg-blue-1">
                    <span class="number-text">1</span>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3 py-5 mt-5">
                    <h2 class="display-5">Claim Analysis</h2>
                    <p class="lead">The education becomes better and knowledge gain happens when we make a right pick of where and who we get the education. Natives and international students always have needed an app or website as central information to make good choice of the school and professors.</p>
                    <p class="small"><a href="https://5lkje5.axshare.com" target="_blank">App live wireframe</a></p>
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                    <h2 class="display-5">Primary and Secondary Stakeholders</h2>
                    <p class="lead text-left">This group App will be designed for two stakeholders: <br>
                        - Student (Primary Persona). <br>
                        - Indirect family (Secondary Persona)
                    </p>
                    <p class="text-left"><i>The group also identified the additional stakeholders types, but the app
                        won't be designed for them, because time constrain</i><br>
                        - Primary/Researchers <br>
                        - Primary/University hiring committee <br>
                        - Primary/Employers <br>
                        - Primary/Professor <br>
                        - Secondary/ Search engines(e.g Google)
                    </p>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate bg-blue-2">
                        <span class="number-text">2</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                    <div class="number-borleiplate text-white bg-blue-3">
                        <span class="number-text">3</span>
                    </div>
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Primary Persona</h2>
                    <p class="lead">UX manager</p>
                    <img class="img-fluid" src="assets/images/p2-primary-secondary-persona.png">
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Problem Statement</h2>
                    <p class="lead text-left"><strong>Objective</strong>: To alleviate some of the following
                        frustrations being
                        faced by Persona I and II which represents parents and students in a broader sense:</p>
                    <p class="text-left"><strong>Frustrations faced by Persona I</strong></p>
                    <ul class="text-left lead">
                        <li>Ads that takes more screen space.</li>
                        <li>Too much of graphics that slows down web page.</li>
                        <li>More anonymous reviews that is misleading.</li>
                        <li>Does not have both Desktop and Mobile app version.</li>
                        <li>Too much of space to install on mobile as App.</li>
                    </ul>
                    <p class="text-left"><strong>Frustrations faced by Persona II</strong></p>
                    <ul class="text-left lead">
                        <li>Parents are out of the U.S. so they are concerned about student's performance.</li>
                        <li>No easy UI on other apps that could give her a good navigation.</li>
                        <li>No demo videos of professor's lecture and campus.</li>
                        <li>Unable to access the updates about universities.</li>
                        <li>Access to the bio data of each professor.</li>
                    </ul>
                    <p class="text-left">This application was built to assist parents and students in alleviating the
                        frustrations faced when looking for a good school and choosing a professor that will help to
                        foster a
                        student’s educational goals and career objectives.</p>
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-4">
                        <span class="number-text">4</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                    <div class="number-borleiplate text-white bg-blue-5">
                        <span class="number-text">5</span>
                    </div>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5 py-3">Primary and Secondary <br> Persona Problem Storyboard</h2>
                    <img class="img-fluid" src="assets/images/p2-storyboard.png">
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 30px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 p-3">
                    <h2 class="display-5">Vision Statement</h2>
                    <p class="lead text-left">Our group is committed to providing an application that will enable
                        collective
                        engagement with students, parents and friends to see professor’s review and assist students in
                        making
                        the right choices of school and course requirements.</p>
                    <p class="text-left">To enable students, parents, and friends to view an application and see
                        professor’s and
                        school’s reviews. This application will assist students, parents and friends to collectively
                        gather
                        information on a school and professor that will assist the student to make the right decision as
                        it
                        relates to their educational objectives.</p>
                    <p class="text-left">To provide a user-friendly application.</p>
                    <p class="text-left">To provide parents with a sense of security when their children are away from
                        home by
                        developing an application that they can use to see and read reviews on their children’s
                        educational
                        progress.</p>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 40px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-4">
                        <span class="number-text">6</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-1">
                        <span class="number-text">7</span>
                    </div>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Primary and Secondary <br>Persona Activity Storyboard</h2>
                    <img class="img-fluid pt-2" src="assets/images/activity-storyboard.png">
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 20px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Group Inspiration Sketch Sheets</h2>
                    <img class="img-fluid pt-2" src="assets/images/p2-group-inpiration.png">
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-2">
                        <span class="number-text">8</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-2">
                        <span class="number-text">9</span>
                    </div>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">App's User Stories Matrix</h2>
                    <img class="img-fluid pt-2" src="assets/images/p2-matrix-story.jpg">
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 20px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Group Kanban Board</h2>
                    <img class="img-fluid pt-2" src="assets/images/p2-canban.jpg">
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-3">
                        <span class="number-text">10</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-right text-white overflow-hidden">
                <div class="my-3 py-3">
                    <a href="/" class="btn btn-link bg-blue-5 text-white lead">Back home</a>
                </div>
            </div>

        </div>
    </div>
</section>