<section class="ux-cases">
    <div class="position-relative overflow-hidden p-3 p-md-5 bg-light">
        <div class="col-md-7 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Case: UX portfolio</h1>
            <p class="lead font-weight-normal">Trying to apply for a new position is not always easy. As a UX designer,
                there needs to be a portfolio to showcase an ability to do the job. Transitioning from one position to
                another that has different qualifications requires proof that the UX designer has the tools and skills
                to do the new job. For this reason, I have created a solution that will help to display my skills by
                creating a case study of how does a professional UX designer put a portfolio together.</p>
            <p><strong>Problem:</strong> The UX designer professional needs to showcase their portfolio but they do not
                want to use a cookie cutter company website or design builder.</p>
            <p><strong>Solution:</strong> Build a custom application that will be easy to deploy and update portfolio
                items.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
    </div>
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-5 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 100%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="number-borleiplate my-3 py-3 bg-blue-1">
                    <span class="number-text">1</span>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3 py-5 mt-5">
                    <h2 class="display-5">Claim Analysis</h2>
                    <p class="lead">The project manager is very proficient in UX Design with a great deal experience of
                        the subject matter. The goal of this project is to demonstrate knowledge of UX</p>
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                    <h2 class="display-5">Primary Stakeholders</h2>
                    <p class="lead">The project to build this app is designed for 2 stakeholder types: <br>
                        - Principal UX Designer.</p>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate bg-blue-2">
                        <span class="number-text">2</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                    <div class="number-borleiplate text-white bg-blue-3">
                        <span class="number-text">3</span>
                    </div>
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Primary Persona</h2>
                    <p class="lead">UX manager</p>
                    <img class="img-fluid" src="assets/images/primary-persona.png">
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Problem Statement</h2>
                    <p class="lead text-left">Objective: Create a unique design to present my UX portfolio to a manager
                        or potential employer.</p>
                    <ul class="text-left lead">
                        <li>All the current layouts and tools online looks very similar</li>
                        <li>While the UX portfolio seems small the with this project will show the knowledge.</li>
                    </ul>
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">

                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-4">
                        <span class="number-text">4</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                    <div class="number-borleiplate text-white bg-blue-5">
                        <span class="number-text">5</span>
                    </div>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Primary Persona Activity Storyboard</h2>
                    <img class="img-fluid shadow-sm" src="assets/images/storyboard.jpg">
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 30px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 p-3">
                    <h2 class="display-5">Vision Statement</h2>
                    <p class="lead">With this project the UX designer could demonstrate the skills and process how to
                        create and work to any process. This will enable the prospect employee to tell the story about
                        their process</p>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 40px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-4">
                        <span class="number-text">6</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-1">
                        <span class="number-text">7</span>
                    </div>
                </div>

            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Inspiration Sketch Sheets</h2>
                    <img class="img-fluid" src="assets/images/inspiration.png">
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">High Fidelity Wireframe</h2>
                    <img class="img-fluid pt-2" src="assets/images/high-fidelity.jpg">
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <div class="number-borleiplate text-white bg-blue-3">
                        <span class="number-text">8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-right text-white overflow-hidden">
                <div class="my-3 py-3">
                    <a href="/" class="btn btn-link bg-blue-5 text-white lead">Back home</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row"><br><br></div>
</section>