<section class="ux-cases">
    <div class="position-relative overflow-hidden p-3 p-md-5 bg-light">
        <div class="col-md-7 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Case: Commvault</h1>
            <p class="lead font-weight-normal">Collection of graphics from the different projects at Commvault.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
    </div>
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-5 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5 ">Homepage</h2>
                    <img class="img-fluid" src="assets/images/homepage-cvlt.jpg">
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 p-3 py-5 mt-5">
                    <h2 class="display-5">Commvault Homepage</h2>
                    <p class="lead">New Layout was created to perform better with less request while using some interactions of the homepage and complete the code for the whole homepage. All the section are independent and can be replace and move like Lego</p>
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;"></div>
            </div>
        </div>
        
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3 py-5 mt-5">
                    <h2 class="display-5">Commvault Trials</h2>
                </div>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                  </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img class="img-fluid" src="assets/images/trial.jpg">
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                    </div>
                    <h2 class="display-5">Primary Stakeholders</h2>
                    <p class="lead">The project to build this app is designed for 2 stakeholder types: <br>
                        - Principal UX Designer.</p>
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
                <div class="my-3 py-3">
                    <img class="img-fluid" src="assets/images/marketo-form.jpg">
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;">
                </div>

            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img class="img-fluid" src="assets/images/d3.jpg">
                </div>
            </div>
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">D3 Angular Charts</h2>
                    <p class="lead">D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG, and CSS. D3’s emphasis on web standards gives you the full capabilities of modern browsers without tying yourself to a proprietary framework, combining powerful visualization components and a data-driven approach to DOM manipulation.</p>
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-right text-white overflow-hidden">
                <div class="my-3 py-3">
                    <a href="/" class="btn btn-link bg-blue-5 text-white lead">Back home</a>
                </div>
            </div>

        </div>
    </div>
</section>