<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">David Guardia</h1>
        <p class="lead font-weight-normal">The more you learn the less you know.</p>
        <p class="lead font-weight-normal">Web Technologies are my pasion, I'm trying to learn a little piece,
            <i>everyday day</i> .</p>
        <a class="btn" href="#"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
        <a class="btn" href="#"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
        <a class="btn" href="#"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
</div>
<div class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">David Guardia</h2>
                <p class="lead">My career goal now is to get more experience. While I am already working in the area I want to be, at this point, I am focused to advance my career. Things that inspire me are people who achieve their dreams, I always dreaming to have a better life, for that reason I push myself forward and one by one check every single goal.</p>
                <div class="bg-white mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>
        <div class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <img class="img-fluid" src="assets/images/david.jpg">
            </div>
            <div class="bg-white mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;">
            </div>
        </div>
    </div>
</div>
<div class="album py-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="img-fluid shadow-sm" src="assets/images/ux-design.jpg">
                    <div class="card-body">
                        <p class="card-text">Project One is one of the new additions to my portfolio. This project shows
                            how to approach the problem when you don't have portfolio</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" routerLink="/project-one"
                                    routerLinkActive="active">Project One</a>
                            </div>
                            <small class="text-muted">6 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="img-fluid shadow-sm" src="assets/images/ux-research.jpg">
                    <div class="card-body">
                        <p class="card-text">This project is about how student make a reviews to thier profesor and the
                            students will have visibility about the new class.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" routerLink="/project-two"
                                    routerLinkActive="active">Project Two</a>
                            </div>
                            <small class="text-muted">8 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="img-fluid shadow-sm" src="assets/images/cvlt.jpg">
                    <div class="card-body">
                        <p class="card-text">Collection of small project from work at Commvault. Most of the work was
                            about the corporate website for all the new iterations.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" routerLink="/project-three"
                                    routerLinkActive="active">Work Projects</a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="album py-5 bg-white">
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 bg-blue-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-left overflow-hidden">
                <div class="my-3 p-3 text-white">

                    <h2 class="display-5">Contact me</h2>
                    <form>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <img class="img-fluid shadow-sm" src="assets/images/map.jpg">
                </div>
                <div class="shadow-sm mx-auto" style="width: 80%; height: 30px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>
    </div>
</div>